doctype html
html
  head
    meta(charset="utf-8")
    title Top Zbab
    link(rel="stylesheet",href="index.css")

  body
    h1 Top Zbab
    .buttons
      button.new-menu(disabled) Nouveau menu

    mixin meal(meal)
      tr(data-meal=meal).category-time
        th(rowspan=5)=meal
        each day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
          td(data-day=day)
            div
              p.category
              p.time

      tr(data-meal=meal).title
        each day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
          td(data-day=day)

      tr(data-meal=meal).sidedish
        each day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
          td(data-day=day)

      tr(data-meal=meal).notes
        each day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
          td(data-day=day)
            textarea

      tr(data-meal=meal).source
        each day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
          td(data-day=day)

    .calendar
      table
        tr.header
          th Jour
          each day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
            th= day

        +meal("Midi")
        +meal("Soir")

    script(src="index.js")
